<% if message.sender == current_member %>
  <div class="media message-box mine">
    <div class="media-body message-box__body mine">
      <%= markdown(message_body(message)) %>
    </div>
    <div class="media-right">
      <%= small_avatar_for(message) %>
    </div>
  </div>
<% else %>
  <div class="media message-box participant">
    <div class="media-left">
      <%= small_avatar_for(message) %>
    </div>
    <div class="media-body message-box__body participant">
      <%= markdown(message_body(message)) %>
    </div>
  </div>
<% end %>
