<%
  title 'Messages'
%>

<div class="page-header">
  <h1>
    <%= render partial: 'search_form' %>
    <span>Search Results</span>
  </h1>
</div>

<% if @messages.present? %>
  <%= render partial: 'message', collection: @messages %>
<% else %>
  No results found.
<% end %>
