<tr data-object-id="<%= position.id %>">
  <td>
    <%= position.name %>
  </td>
  <td>
    <%= link_to('Edit', edit_community_admin_position_path(@current_community, position), class: 'btn btn-default btn-xs') %>
  </td>
</tr>
