- title 'Positions'
- page_header 'Positions'

.row
  .col-sm-9
    table.table.table-striped.table-sortable data= { 'object-url': admin_position_path(id: 'objectId'), 'object-name': 'position', 'sortable-name': 'priority_order' }
      thead
        th #
        th Name
        th
      tbody
        = render @positions

    p.small.text-right.text-muted Drag-and-Drop rows to set priority order.

  .col-sm-3
    ul.nav.nav-stacked
      li= link_to 'New Position', new_admin_position_path
