<div class="discussion-group-item">
  <div class="col-lg-9">
    <h3>
      <%= link_to discussion.title, [discussion.community, current_network, discussion] %>
    </h3>
    <p class='small text-muted'>
      <%= discussion_meta(discussion) %>
    </p>
    <%- discussion.tags.each do |tag| %>
      <%= link_to_tag tag %>
    <% end %>
  </div>
  <div class="col-lg-3 text-right">
    <%- discussion.followers.first(20).each do |follower| %>
      <%= member_avatar_link follower %>
    <% end %>
  </div>
</div>
