<div class="row">
  <div class="col-lg-2">
  </div>
  <%= panel "Discussion Editing", columns: 8 do %>
    <%= render partial: 'discussions/form', locals: { discussion: @discussion } %>
  <% end %>
</div>
