<div class="row">
  <div class="col-lg-2">
  </div>
  <%= panel "Start a new Discussion", columns: 8 do %>
    <%= render partial: 'discussions/forms/new', locals: { discussion: @discussion } %>
  <% end %>
</div>
