<div class='office-hour-mentor clearfix'>
  <%= image_tag member.avatar.url(:icon), class: 'office-hour-mentor__image' %>
  <span class='office-hour-mentor__full-name'><%= member.full_name %></span>
  <%= link_to 'Reserve', community_member_availability_slots_path(current_community, member, *params[:date].split('-')), class: 'office-hour-mentor__reserve-btn btn btn-success btn-xs pull-right' %>
</div>
