- title 'Office Hours'
- page_header 'Office Hours'

.row
  .col-sm-9
    table.table.table-striped
      thead
        th Status
        th Time
        th Mentor
        th Participant
        th
      tbody
        = render @office_hours


  = panel 'Offer an Office Hour as a mentor', columns: 6 do
    = render partial: 'form', locals: { office_hour: current_member.office_hours_as_mentor.build }
