<%
  title @member.full_name
%>

<div class="page-header">
  <div class='pull-right'>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Details</a></li>
      <li role="presentation" class="active"><%= link_to 'Office Hours', community_member_office_hours_path(current_community, @member) %></li>
      <li role="presentation"><%= link_to('Private Message', community_member_messages_path(current_community, @member)) %></li>
    </ul>
  </div>
  <h1><%= @member.full_name %></h1>
</div>

<div class='calendar' data-url=<%= community_member_office_hours_path(current_community, @member) %>>
</div>
