<div class="uploader community-logo">
  <div class="thumbnail">
    <%= image_tag form.object.logo.url(:thumb), class: "community-logo" %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <span class="help-block">Failed to upload image please try again</span>

    <div class="caption text-center">
      <span class="btn btn-default btn-file">
        Upload <%= "new " if form.object.logo.present? %>logo <input id="community_logo" type="file" name="community[logo]" />
      </span>
    </div>
  </div>
</div>
