<div id='social_media_links'>
  <%= form.simple_fields_for :social_media_links do |social_media_link| %>
    <%= render 'shared/forms/social_media_link_fields', f: social_media_link %>
  <% end %>
</div>
<%= link_to_add_association 'Add Social Media Link', form, :social_media_links,
    class: 'btn btn-default',
    partial: 'shared/forms/social_media_link_fields',
    data: {
      'association-insertion-node' => '#social_media_links',
      'association-insertion-method' => 'prepend'
    }
%>
