<%
  title 'Companies'
  page_header 'Companies' do
    link_to('New Company', new_community_admin_company_path(current_community), class: 'btn btn-success')
  end
%>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <th></th>
        <th class="dropdown"><%= network_filter_dropdown(resource: 'Company', html_class: 'btn-xs') %></th>
        <th>Name</th>
        <th>Website</th>
        <th>Description</th>
        <th></th>
      </thead>
      <tbody>
        <%= render @companies %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @companies %>
    </div>
  </div>
</div>
