<p>
<%= @author.full_name %> has commented on the discussion you are following:
<%= link_to(@discussion.title, [@discussion.community, @discussion.network, @discussion]) %>
</p>

<div style="background-color: #EEE; padding: 15px;">
  <p>
    <%= @comment.body %>
  </p>
</div>

<p>
  <%= link_to("Click here to continue the discussion.", [@discussion.community, @discussion.network, @discussion]) %>
</p>
