.btn-hover {
  border: 0;
  transition: all 0.3s ease 0s;
  &.btn-hover-danger:hover {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
}

.btn {
  &-default, &-success, &-danger, &-warning, &-info {
    border: none;
  }
}
