.member__sidebar__social_media_links,
.company__sidebar__social_media_links {
  .social-media-link__icon {
    margin: 8px;
    display: inline-block;
  }
  .social-media-link__btn {
    margin: 8px;
  }
}
