form.form-horizontal {
  .datetime-inline {
    select {
      display: inline-block;
      width: 14%;
      &:first-child {
        width: 20%;
      }
      &:nth-child(2) {
        width: 27%;
      }

    }
  }
}

form {
  .form-group.member_social_media_links_url {
    label {
      img {
        margin-top: -6px;
      }
    }
  }
}

.search-message-group {
  .input-group-btn {
    button {
      border: 1px solid #ccc;
      border-left: 0;
    }
  }
}


div.uploader {
  width: 200px;
  overflow: hidden;
  margin-bottom: 20px;

  .progress {
    max-width: 600px;
    margin:    0.2em 0 0.2em 0;
    height:    5px;
  }

  img {
    width: 100%;
    overflow: hidden;
  }

  .progress {
    display: none;

    .error {
      background-color: $brand-danger;
    }
  }

  .help-block {
    display: none;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  &.business-logo {
    width: 280px;
  }
}
