$footer-height: 300px;

$icon-size: 20px;
$brand-color: #191919;
$brand-color-hover: #29d - 60;

$nav-background-color: #000000;
$nav-background-color-hover: #FFFFFF;

$nav-link-color: #FFFFFF;
$nav-link-color-hover: #000000;

$nav-border-color: #424242;

$company-border-color: #DDD;
$member-border-color: $company-border-color;

$community-event-color: #00acc8;
$external-event-color: #d3313a;
$office-hour-color: #62a945;

$footer-color: #EAEAEA;
$footer-background-color: #424242;
