$icon-size: 20px;
$brand-color: #191919;
$brand-color-hover: #29d - 60;

$company-border-color: #DDD;
$member-border-color: $company-border-color;

$community-event-color: #337ab7;
$external-event-color: #777777;
