<tr>
  <td>
    <% if activity.owner.networks.include?(current_network)  %>
      <%= member_link activity.owner %>
    <% else %>
      <%= activity.owner.full_name %>
    <% end %>
    <%= yield %>
    <small class='text-muted'><%= time_tag activity.updated_at %></small>
  </td>
</tr>
