<% if notice && notice.length > 0 %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times</span>
    </button>
    <%= notice %>
  </div>
<% end %>
<% if warning && warning.length > 0 %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times</span>
    </button>
    <%= warning %>
  </div>
<% end %>
<% if alert && alert.length > 0 %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times</span>
    </button>
    <%= alert %>
  </div>
<% end %>
