<% if notice %>
  <div class="row">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times</span>
      </button>
      <%= notice %>
    </div>
  </div>
<% end %>
<% if warning %>
  <div class="row">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times</span>
      </button>
      <%= warning %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="row">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times</span>
      </button>
      <%= alert %>
    </div>
  </div>
<% end %>
