= render partial: 'shared/admin/navigation' if can? :administrate, :application

nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      = link_to root_path, class: 'navbar-brand' do
        strong my
        | MaGIC

    - if member_signed_in?

      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          = nav_link "Welcome", root_path
          = nav_link "Members", Member
          = nav_link "Companies", Company
          = nav_link "Office Hours", OfficeHour

        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button"
              = current_member.email
              span.caret
            ul.dropdown-menu role="menu"
              = nav_link "Edit my Account", edit_member_registration_path
              li.divider
              = nav_link "Sign Out", destroy_member_session_path, method: :delete

    - else

      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          = nav_link "Log in", new_member_session_path
          = nav_link "Sign up", new_member_registration_path
