<div class="col-lg-12 dashboard__key_feature">
  <div class="dashboard__key_feature_icon">
    <%= image_tag(icon) %>
  </div>
  <div class="dashboard__key_feature_name">
    <%= name %>
  </div>
  <div class="dashboard__key_feature_description">
    <p>
      <%= description %>
    </p>
  </div>
</div>
