.member-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.administrator {
    &:before { content: "\e162"; }
  }
  &.staff {
    &:before { content: "\e136"; }
  }
  &.mentor {
    &:before { content: "\e233"; }
  }
}
