<div class="col-lg-3">
  <div class="thumbnail">
    <div class="company-thumb-wrapper">
      <%= image_tag(company.logo.url(:thumb)) %>
    </div>
    <div class="caption">
      <h3><%= link_to company.name, company %></h3>
    </div>
  </div>
</div>
