<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
  <div class="company-wrapper">
    <div class="logo-wrapper">
      <%= link_to(
            image_tag(company.logo.url(:thumb), class: 'img-responsive'),
            [current_community, company]) %>
    </div>
    <h4><%= link_to company.name, [current_community, company] %></h4>
  </div>
</div>

<% if (company_counter + 1) % 6 == 0 %>
  <div class="clearfix visible-lg-block"></div>
<% end %>

<% if (company_counter + 1) % 3 == 0 %>
  <div class="clearfix visible-md-block"></div>
  <div class="clearfix visible-sm-block"></div>
<% end %>

<% if (company_counter + 1) % 2 == 0 %>
  <div class="clearfix visible-xm-block"></div>
<% end %>
