<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
  <div class="company__member">
    <%= link_to(
          image_tag(member.avatar.url(:thumb), class: 'img-responsive'),
          [current_community, current_network, member]) %>
    <div class="company__member__caption">
      <h4><%= link_to member.full_name, [current_community, current_network, member] %></h4>
    </div>
    <div class="company__member__positions">
      <%= positions.to_sentence %>
    </div>
  </div>
</div>
