<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="profile" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#social-media-services" aria-controls="messages" role="tab" data-toggle="tab">Social Media Services</a></li>
  </ul>

  <%= render partial: 'form' %>
</div>
