<% title 'Events' %>

<div class="page-header">
  <h1>Events</h1>
  <span class='calendar-label events'>Events</span>
  <span class='calendar-label availabilities'>Activities</span>
</div>

<div class='calendar'
     data-url='<%= community_calendar_path(current_community) %>'>
</div>
