<%
  title 'Office Hours'
  page_header 'Office Hours' do
    link_to 'New Office Hour', new_community_admin_office_hour_path(current_community), class: 'btn btn-success'  if can? :create, OfficeHour
  end
%>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <th>Status</th>
        <th>Time</th>
        <th>Mentor</th>
        <th>Participant</th>
        <th></th>
      </thead>
      <tbody>
        <%= render @office_hours %>
      </tbody>
    </table>
  </div>
</div>
