<%
  title 'Office Hours'
  page_header 'Office Hours'
%>
<div class="row">
  <div class="col-sm-9">
    <table class="table table-striped">
      <thead>
        <th>Status</th>
        <th>Time</th>
        <th>Mentor</th>
        <th>Participant</th>
        <th></th>
      </thead>
      <tbody>
        <%= render @office_hours %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <ul class="nav nav-stacked">
      <li><%= link_to 'New Office Hour', new_community_admin_office_hour_path(current_community) %></li>
    </ul>
  </div>
</div>
