@import "bootstrap/overrides";

@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap";

@import "jquery-sortable";

@import "bootstrap-tagsinput";

@import "fullcalendar";

@import "nprogress";

@import "shared/variables";

@import "shared/forms";
@import "shared/typeahead";
@import "shared/navigation";
@import "shared/footer";

@import "shared/buttons";
@import "shared/tags";
@import "shared/social_media_links";
@import "shared/admin/navigation";
@import "shared/admin/members";

@import "dashboard";
@import "elements";
@import "communities";
@import "companies";
@import "members";
@import "messages";
@import "discussions";
@import "calendar";
@import "availabilities";
@import "events";

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 100%;
}
