.fc-content-skeleton td.fc-event-container {
  color: #FFF;
  cursor: pointer;

  &.availability {
    .fc-content {
      background: $office-hour-color;
      border-radius: 10px;
    }
  }

  &.network-event {
    .fc-event {
      background: $community-event-color;
      border-color: $community-event-color;
    }
  }

  &.external-event {
    .fc-event {
      background: $external-event-color;
      border-color: $external-event-color;
    }
  }


  img {
    margin-right: 3px;
  }
}

.calendar {
  &-label {
    &:before {
      content: ' ';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 5px;
    }

    &.community-events {
      &:before {
        background: $community-event-color;
      }
    }

    &.external-events {
      &:before {
        background: $external-event-color;
      }
    }

    &.office-hours {
      &:before {
        background: $office-hour-color;
      }
    }
  }
}

.calendar-popover {
  .popover-title {
    padding: 8px 10px;

    h4 {
      font-weight: bold;
      margin: 5px 0 0 0;
    }

    span { color: #00b9d1; }
  }

  .popover-content {
    padding: 0;

    a {
      border-bottom: 1px solid #e6e6e6;
      display: block;
      margin-left: -1px;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: #eaf7fc;
        color: #009eaf;
        text-decoration: none;
      }

      & > div {
        padding: 10px 7px;
      }

      &.office-hours-details {
        border-left: 7px solid $office-hour-color;
      }

      &.external-events-details {
        border-left: 7px solid $external-event-color;
      }

      &.community-events-details {
        border-left: 7px solid $community-event-color;
      }
    }

    .event-time { color: black; }
  }
}
