.company-group {
  margin: 15px 0 15px 0;
}

.company-wrapper {
  margin-bottom: 20px;
  .logo-wrapper {
    height: 150px;
    .img-responsive {
      max-height: 150px;
      padding: 10px;
      margin: 0 auto;
    }
  }
  h4 {
    text-align: center;
    font-size: 14px;
  }
}

.company {
  &__new_position {
    text-align: center;
    margin: 15px 0;
  }
  &__header {
    &__website {
      font-size: 20px;
    }
    &__website, &__description {
      margin-bottom: 10px;
    }
    &__description {
      padding: 15px;
      border: 1px solid $company-border-color;
    }
    &__social_media_links {
      margin-bottom: 10px;
      a {
        margin: 5px 5px 0 5px;
      }
    }
  }
  &__sidebar {
    &__logo {
      text-align: center;
    }
  }
  &__members {
    &-h4 {
      text-transform: uppercase;
    }
  }
  &__member {
    text-align: center;
    margin-bottom: 10px;
    &__caption {
      h4 {
        font-size: 14px;
        margin-bottom: 3px;
      }
    }
    &__positions {
      font-size: 12px;
      display: block;
      color: darken(#FFF, 50);
    }
  }
}
