.company-group {
  margin: 15px 0 15px 0;
}

.company-wrapper {
  border: 1px solid #DDD;
  margin-bottom: 20px;
  .logo-wrapper {
    height: 150px;
    .img-responsive {
      max-height: 150px;
      margin: 0 auto;
    }
  }
  h4 {
    text-align: center;
    font-size: 14px;
  }
}
