#color-bar {
  background: image_url('color-bar.png') repeat-x;
  height: 4px;
}

.popover {
  width: 500px;
}

.nav-pills {
  margin-bottom: $grid-gutter-width;
}

.image_preview {
  img {
    display: block;
    margin-bottom: $grid-gutter-width / 2;
  }
}

.page-header-action {
  float: right;
  margin-top: 5px;
  position: relative;
}

.page-header {
  border: none;
  position: relative;
  
  .page-header-action {
    margin-top: 11px;
  }
}

.filter-description {
  margin-bottom: 20px;
  line-height: 34px;
}

ul.pagination {
  li.active {
    a {
      background-color: $nav-pills-active-link-hover-bg;
      border-color: $nav-pills-active-link-hover-bg;
      &:hover, &:active, &:focus {
        background-color: $nav-pills-active-link-hover-bg;
        border-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}
