.popover {
  width: 500px;
}

.nav-pills {
  margin-bottom: $grid-gutter-width;
}

.image_preview {
  img {
    display: block;
    margin-bottom: $grid-gutter-width / 2;
  }
}

.page-header-action {
  float: right;
  margin-top: 22px;
  position: relative;
}

.page-header {
  .page-header-action {
    margin-top: 11px;
  }
}

.filter-description {
  margin-bottom: 20px;
  line-height: 34px;
}
