.event-attendees {
  position: absolute;
  top: 50px;
  right: 0;
  a {
    margin-right: 2px;
  }
}

.event-rsvps {
  text-align: right;
  width: 30%;
}

.label {
  &.community-event {
    background-color: $community-event-color;
  }
  &.external-event {
    background-color: $external-event-color;
  }
}

#map_canvas {
  width: 100%;
  height: 300px;
  margin: 15px 0;
}
