.member-group {
  margin: 15px 0 15px 0;
}

.member-thumb-wrapper {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  img {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.member-wrapper {
  height: 300px;
  max-width: 200px;
  .member-role {
    display: block;
    margin: 3px 0;
    color: darken(#FFF, 50);
  }
  .caption {
    text-align: center;
  }
  img.thumbnail {
    border: 0;
  }
  h4, p {
    @include text-overflow;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
}
