.member-wrapper {
  height: 300px;
  max-width: 200px;
  .member-role {
    display: block;
    font-weight: bold;
    margin: 3px 0;
  }
}
.member-thumbnail {
  h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
