.member-group {
  margin: 15px 0 15px 0;
  .member {
    height: 250px;
    max-width: 150px;
    h4, p {
      @include text-overflow;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
    &__caption{
      text-align: center;
    }
    &__role {
      display: block;
      margin: 3px 0;
      color: darken(#FFF, 50);
    }
    &__avatar {
      border: 0;
    }
  }
}

.member-thumb-wrapper {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  img {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}


.member {
  &__new_position {
    text-align: center;
    margin: 15px 0;
  }
  &__sidebar {
    &__avatar, &__positions {
      text-align: center;
    }
    &__avatar, &__positions, &__description {
      margin-bottom: 10px;
    }
    &__social_media_links {
      text-align: center;
      margin-bottom: 10px;
      a {
        margin: 0 5px;
      }
    }
  }
  &__member {
    &__caption {
      h4 {
        font-size: 14px;
      }
    }
  }
}
