.office-hour-mentor {
  margin: 5px 0;
}

.office-hours {
  text-align: center;

  & > li {
    list-style: none;
    border-bottom: 1px solid $table-border-color;
    background: $navbar-default-bg;
    padding: 5px;
  }
}
