<% if @events.present? %>
  <div class="community-sidebar__events">
    <h4>Upcoming Events</h4>
    <% @events.group_by { |event| event.starts_at.to_date }.each do |date, events| %>
      <h5><%= date.strftime('%a, %B %d') %></h5>
      <ul class='list-unstyled'>
        <% events.each do |event| %>
          <li><%= link_to(event.title, community_event_path(current_community, event)) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
