<%
  title 'Dashboard'
  page_header "Activity feed for #{ current_community.name }"
%>

<div class="row">
  <div class="col-sm-8">
    <%= render partial: 'activities' %>
  </div>
  <div class="col-sm-4">
    <!-- Office Hours -->
  </div>
</div>
