<%
  title 'Edit Availability'
%>

<div class="col-sm-6 col-sm-push-2">
  <div class="row">
    <%= panel "Edit Availability", columns: 12 do %>
      <%= render partial: 'form', locals: { member: @member, availability: @availability } %>
    <% end %>
  </div>
</div>
