<%= render partial: 'members/header' %>
<%= render partial: 'members/navigation' %>
<div class='calendar'
     data-url='<%= community_calendar_path(current_community) %>'
     data-member-id='<%= @member.try(:id) %>'>
</div>
