<div class="member__header">
  <div class="page-header-action">
    <%= render partial: 'shared/follow_button', locals: { object: @member } %>
    <% if can? :send_message_to, @member %>
      <%= link_to 'Private Message', [current_community, current_network, @member, Message], class: 'btn btn-default' %>
    <% end %>
  </div>
  <h1><%= @member.full_name %></h1>
</div>
