<tr>
  <td>
    <%= image_tag(member.avatar.url(:icon), class: 'img-rounded') %>
    <%= link_to member.full_name, member %>
  </td>
  <td>
    <%= member.positions_in_companies.map do |company, positions|
      "#{ company.name } (#{ positions.map(&:name).to_sentence })"
    end.to_sentence %>
  </td>
</tr>
