<ul class="nav nav-pills">
  <%= nav_link 'Details', community_member_path(current_community, @member) %>
  <li class=<%= 'active' if controller_name.in? %w(availabilities calendars) %>>
    <%= link_to 'Office Hours', community_member_availabilities_path(current_community, @member) %>
  </li>
</ul>
