<% title @member.full_name %>

<div class="row member">
  <%= render partial: 'members/sidebar' %>
  <div class="col-lg-9">
    <%= render partial: 'members/header' %>
    <div class="row">
      <table class="table table-striped activity-group">
        <%= render(@activities) || "<tr><td>Sorry, there is nothing to see yet.</td></tr>".html_safe %>
      </table>
    </div>
  </div>
</div>
