<% title @member.full_name %>

<div class="row member">
  <%= render partial: 'members/sidebar' %>
  <div class="col-lg-9">
    <%= render partial: 'members/header' %>
    <div class='calendar'
         data-url='<%= community_calendar_path(current_community) %>'
         data-member-id='<%= @member.try(:id) %>'>
    </div>
  </div>
</div>
