<%
  title 'Members'
  page_header 'Members'
%>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Companies</th>
      </thead>
      <tbody>
        <%= render @members %>
      </tbody>
    </table>
  </div>
</div>
