<% title @member.full_name %>

<div class="member row">
  <%= render partial: 'members/sidebar' %>
  <div class="col-lg-9">
    <%= render partial: 'members/header' %>
    <div id="member__content">
      <%= render partial: @partial %>
    </div>
  </div>
</div>
