- title @member.full_name
- page_header @member.full_name

.row
  .col-lg-8
    = definition_list("First name" => @member.first_name, "Last name" => @member.last_name)

  .col-lg-4
    .col-lg-12
      .thumbnail
        .member-thumb-wrapper= image_tag(@member.avatar.url(:thumb))

    - @member.approved_companies_and_positions.each do |company, positions|
      = panel company.name, columns: 12 do
        = positions.map(&:name).to_sentence
