<% title @member.full_name %>

<div class="row member">
  <%= render partial: 'sidebar' %>
  <div class="col-lg-9">
    <%= render partial: 'header' %>
    <%= render partial: 'details' %>
  </div>
</div>
