<%
  title @member.full_name
  page_header @member.full_name
%>
<div class="row">
  <div class="col-lg-8">
    <%= definition_list("First name" => @member.first_name, "Last name" => @member.last_name) %>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-12">
      <div class="thumbnail">
        <div class="member-thumb-wrapper">
          <%= image_tag(@member.avatar.url(:thumb)) %>
        </div>
      </div>
    </div>
    <% @member.approved_companies_and_positions.each do |company, positions| %>
      <%= panel company.name, columns: 12 do %>
        <%= positions.map(&:name).to_sentence %>
      <% end %>
    <% end %>
  </div>
</div>
